@using RealState.Core.Application.ViewModels.Agents
@model List<AgentViewModel>
@{
    ViewData["Title"] = "Agentes";
}
<style>
    .btn-primary {
  display: block;
  margin: 0 auto;
  width: 200px;
  font-size: 24px;
}
</style>


<div class="container-fluid">

     <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <form method="post" asp-action="Agent" asp-controller="Home">
                <div class="input-group">
                    <input type="text" class="form-control rounded-start" name="identifier" id="identifier" placeholder="Buscar">
                    <button type="submit" class="btn btn-primary rounded-end">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            if( ViewBag.Filter )
            {
                <h3>No hay agentes registrado en el sistema con ese nombre</h3>
            }
            else
            {
                 <h3>No hay agentes registrado en el sistema.</h3>
            }

        }
        else
        {
            foreach (AgentViewModel agent in Model)
            {
                <div class="col-4">
                    <a style="text-decoration: none;" asp-action="AgentAds" asp-route-Id="@agent.Id" asp-controller="Home">
                       <div class="card">
                            <div class="card-body">
                                
                                <img class="offset-4" src="@agent.Photo" width="120" height="120" style=" border-radius: 50%;" />
                                <h4 class="card-text text-center">@agent.FirstName @agent.LastName</h4>
                            </div>
                        </div>
                    </a>
        </div>
            }
        }
    </div>
</div>