@using Microsoft.AspNetCore.Http
@using RealState.Core.Application.Enums
@using RealState.Core.Application.Dtos.Account
@using RealState.Core.Application.Helpers;
@using RealState.Core.Application.ViewModels.Users

@inject IHttpContextAccessor httpContext;
@{
    var user = httpContext.HttpContext.Session.Get<AuthenticationResponse>("user");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]RealStateApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/MainCss.css" />
</head>
<body>
    <header>
     
                 <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-danger navbar-light border-bottom box-shadow mb-3">
                     <div class="container">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                           @if(user != null){
                              if(user.Roles.Any(r => r == Roles.Client.ToString())) {
                                   <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-controller="Client" asp-action="Index">Home</a>
                                                </li>
                    
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Agent">Agentes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Client" asp-action="Favourite">Mis Propiedades</a>
                                                </li>
                                            <li class="nav-item align-content-end">
                                                <a class="nav-link text-white fw-bold" asp-controller="User" asp-action="LogOut">Cerrar Sesión</a>
                                            </li>
                        
                                     </ul>
                              }
                              if(user.Roles.Any(r => r == Roles.Agent.ToString())) {
                                   <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-controller="Agent" asp-action="Index">Home</a>
                                                </li>
                    
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="User" asp-action="EditAgent">Mi Perfil</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Agent" asp-action="MantProperties">Mant. Propiedades</a>
                                                </li>
                                            <li class="nav-item align-content-end">
                                                <a class="nav-link text-white fw-bold" asp-controller="User" asp-action="LogOut">Cerrar Sesión</a>
                                            </li>
                        
                                     </ul>
                              }
                              if(user.Roles.Any(r => r == Roles.Admin.ToString())) {
                                   <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-controller="Admin" asp-action="Index">Home</a>
                                                </li>
                    
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="Agent">Agentes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="MantAdmin">Mant. Administradores</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="MantDeveloper">Mant. Desarrollo</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="MantProperty">Mant. Tipo Propiedades</a>
                                                </li>
                                                 <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="MantSales">Mant. Tipo Ventas</a>
                                                </li>
                                                 <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Admin" asp-action="MantUpgrates">Mant. Mejoras</a>
                                                </li>
                                            <li class="nav-item align-content-end">
                                                <a class="nav-link text-white fw-bold" asp-controller="User" asp-action="LogOut">Cerrar Sesión</a>
                                            </li>
                        
                                     </ul>
                              }
                           }
                            else
                            {
                                 <ul class="navbar-nav me-auto mb-2 mb-md-0">
          
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-controller="Home" asp-action="Index">Home</a>
                                                </li>
                    
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Agent">Agentes</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="User" asp-action="Register">Únete a la app</a>
                                                </li>
                                            <li class="nav-item align-content-end">
                                                <a class="nav-link text-white fw-bold" asp-controller="User" asp-action="Login">Iniciar sesión</a>
                                            </li>
                        
                                     </ul>
                            }
                         </div>
                      </div>
                </nav>
          
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - REAL STATE GJ
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

